<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Including another xacro from a different package: -->
    <xacro:include filename="package://panda_urdf_modifications/urdf/panda_7dof.urdf.xacro" />

    <!-- Including another xacro from the same folder (relative): -->
    <xacro:include filename="panda.ros2_control.xacro" />

    <xacro:panda_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>
</robot>
